# Environment files
.env
.env.*

# Keys
keys/*.key
keys/*.pem
keys/*.crt
keys/*.p12
keys/*.csr

# Configuration files
config/config.yaml

# Docker-related
docker-compose.yml
docker-compose.*.yml

# Credentials
cred.json

# Logs
logs/*.log
logging-stack/*

# Golangci-lint reports
reports/*
